In [70]:
import pandas as pd
import numpy as np

In [71]:
phone=pd.read_excel("Phone.xlsx")
laptop=pd.read_excel("laptop.xlsx")
tablet=pd.read_excel("tablets.xlsx")

In [72]:
phone.head()

,Title,Ratings,Before_Price,After_Price,Image
0,"realme GT Neo 3 (150W) (Sprint White, 12GB RAM...",551,"₹45,999","24,749",https://m.media-amazon.com/images/I/51P-7qmHo6...
1,Beetel X73 Cordless 2.4Ghz Landline Phone with...,"10,610","₹2,799","1,990",https://m.media-amazon.com/images/I/71ULvhJssw...
2,"iQOO Z9 5G (Brushed Green, 8GB RAM, 256GB Stor...","2,643","₹26,999","21,999",https://m.media-amazon.com/images/I/61pt59LW-l...
3,"Samsung Galaxy M14 5G (Smoky Teal,4GB,128GB)|5...","23,744","₹17,990","9,490",https://m.media-amazon.com/images/I/818VqDSKpC...
4,"realme 12 Pro+ 5G (Submarine Blue, 8GB RAM, 12...",34,"₹34,999","27,344",https://m.media-amazon.com/images/I/81ozhmBGVN...

In [73]:
laptop.head()

,Title,Ratings,After_Price,Image
0,Hp Everyday Essential 17 FHD Laptop • Free Mic...,72,699,https://m.media-amazon.com/images/I/818CTxQVMH...
1,"Lenovo 11.6"" 300e Chromebook Touchscreen LCD 2...","2,037",94,https://m.media-amazon.com/images/I/812k3mDHXj...
2,"ASUS C424MA-AS48F Chromebook C424, 14.0"" 180 D...",307,199,https://m.media-amazon.com/images/I/71DL+S6ihB...
3,"HP Victus 15 Gaming Laptop, 15.6"" FHD 144Hz Di...",619,647,https://m.media-amazon.com/images/I/71juF7A+Ms...
4,"Lenovo Newest Flagship Chromebook, 14'' FHD To...",292,235,https://m.media-amazon.com/images/I/61KlKRdsQ7...

In [74]:
tablet.head()

,Title,Ratings,Before_Price,After_Price,Image
0,"HP Chromebook 11 G9 EE 11.6"" Touchscreen Chrom...",13,NaN,253,https://m.media-amazon.com/images/I/61KUIjmfe7...
1,"Lenovo Flex 14 2-in-1 Convertible Laptop, 14.0...",36,NaN,NaN,https://m.media-amazon.com/images/I/715abmjkZ9...
2,Dell Inspiron I7568 15.6 Inches 2-in-1 Convert...,70,NaN,699,https://m.media-amazon.com/images/I/219SR0BRbK...
3,"Lenovo 11.0in IdeaPad Touch Duet 3 Chromebook,...",4,NaN,349,https://m.media-amazon.com/images/I/61RR-jHl0y...
4,"HP X360 2 in 1 Laptop 14"" Touch-Screen FHD IPS...",63,NaN,409,https://m.media-amazon.com/images/I/71cUi8u8KT...

In [75]:
phone.isnull().sum(),tablet.isnull().sum(),laptop.isnull().sum()

(Title             0
 Ratings         106
 Before_Price     52
 After_Price      21
 Image             0
 dtype: int64,
 Title            0
 Ratings         44
 Before_Price    84
 After_Price     17
 Image            0
 dtype: int64,
 Title            0
 Ratings        172
 After_Price     39
 Image            0
 dtype: int64)

In [76]:
phone.dropna(inplace=True)

In [77]:
phone.isnull().sum()

Title           0
Ratings         0
Before_Price    0
After_Price     0
Image           0
dtype: int64

In [78]:
laptop.dropna(inplace=True)
laptop.isnull().sum()

Title          0
Ratings        0
After_Price    0
Image          0
dtype: int64

In [79]:
tablet.dropna(inplace=True)
tablet.isnull().sum()

Title           0
Ratings         0
Before_Price    0
After_Price     0
Image           0
dtype: int64

In [80]:
tablet.shape,laptop.shape,phone.shape

((8, 5), (397, 4), (2844, 5))

In [81]:
tablet

,Title,Ratings,Before_Price,After_Price,Image
15,Gateway Newest Touchscreen 11.6 HD 2-in-1 Conv...,"1,200",$213.99,200,https://m.media-amazon.com/images/I/51LQKOGBqd...
18,"ASUS Chromebook Flip C434 2-In-1 Laptop, 14"" F...","1,790",$504.99,363,https://m.media-amazon.com/images/I/81C9wMt+Q1...
27,HP EliteBook Revolve 810 G3 11.6 Inch Tablet P...,6,$399.00,298,https://m.media-amazon.com/images/I/41-6t2zKGe...
40,HP Stream 14-inch Laptop for Student and Busin...,6,$259.99,239,https://m.media-amazon.com/images/I/7102Zh8BY2...
43,HP Chromebook x360 14c-cc0013dx 14 inch FHD 2 ...,976,$269.90,249,https://m.media-amazon.com/images/I/71Ghya-X9t...
50,"HP Stream 14 HD (1366x768) Display, Intel Cele...",14,$389.00,349,https://m.media-amazon.com/images/I/91+ccBQYgW...
64,"HP Newest 13th Generation Envy 2-in-1 Laptop, ...",6,"$1,219.00","1,149",https://m.media-amazon.com/images/I/61SubielAy...
80,"HP 11-v010wm 11.6"" Chromebook, Chrome, Intel C...",5,$179.00,99,https://m.media-amazon.com/images/I/71HGSzOR3y...

In [82]:
laptop.describe()

,Title,Ratings,After_Price,Image
count,397,397,397,397
unique,397,139,239,394
top,Hp Everyday Essential 17 FHD Laptop • Free Mic...,1,549,https://m.media-amazon.com/images/I/81QPOujfrC...
freq,1,51,8,2

In [83]:
laptop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0 to 599
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        397 non-null    object
 1   Ratings      397 non-null    object
 2   After_Price  397 non-null    object
 3   Image        397 non-null    object
dtypes: object(4)
memory usage: 15.5+ KB

In [84]:
k = 84

In [85]:
print(type(laptop['After_Price']))

<class 'pandas.core.series.Series'>

In [86]:
import re

In [87]:
def cleaning(x):
    x = re.sub(r',', '', x)  # Remove commas
    return x

# Apply the cleaning function
laptop['After_Price'] = laptop['After_Price'].apply(cleaning)
tablet['After_Price'] = tablet['After_Price'].apply(cleaning)

# Convert the cleaned 'After_Price' columns to integer
laptop['After_Price'] = laptop['After_Price'].astype(int)
tablet['After_Price'] = tablet['After_Price'].astype(int)

In [88]:
tablet.head()

,Title,Ratings,Before_Price,After_Price,Image
15,Gateway Newest Touchscreen 11.6 HD 2-in-1 Conv...,"1,200",$213.99,200,https://m.media-amazon.com/images/I/51LQKOGBqd...
18,"ASUS Chromebook Flip C434 2-In-1 Laptop, 14"" F...","1,790",$504.99,363,https://m.media-amazon.com/images/I/81C9wMt+Q1...
27,HP EliteBook Revolve 810 G3 11.6 Inch Tablet P...,6,$399.00,298,https://m.media-amazon.com/images/I/41-6t2zKGe...
40,HP Stream 14-inch Laptop for Student and Busin...,6,$259.99,239,https://m.media-amazon.com/images/I/7102Zh8BY2...
43,HP Chromebook x360 14c-cc0013dx 14 inch FHD 2 ...,976,$269.90,249,https://m.media-amazon.com/images/I/71Ghya-X9t...

In [89]:
laptop.head()

,Title,Ratings,After_Price,Image
0,Hp Everyday Essential 17 FHD Laptop • Free Mic...,72,699,https://m.media-amazon.com/images/I/818CTxQVMH...
1,"Lenovo 11.6"" 300e Chromebook Touchscreen LCD 2...","2,037",94,https://m.media-amazon.com/images/I/812k3mDHXj...
2,"ASUS C424MA-AS48F Chromebook C424, 14.0"" 180 D...",307,199,https://m.media-amazon.com/images/I/71DL+S6ihB...
3,"HP Victus 15 Gaming Laptop, 15.6"" FHD 144Hz Di...",619,647,https://m.media-amazon.com/images/I/71juF7A+Ms...
4,"Lenovo Newest Flagship Chromebook, 14'' FHD To...",292,235,https://m.media-amazon.com/images/I/61KlKRdsQ7...

In [90]:
# Apply the cleaning function
laptop['After_Price'] = laptop['After_Price']*k
tablet['After_Price'] = tablet['After_Price']*k

In [91]:
laptop.head()

,Title,Ratings,After_Price,Image
0,Hp Everyday Essential 17 FHD Laptop • Free Mic...,72,58716,https://m.media-amazon.com/images/I/818CTxQVMH...
1,"Lenovo 11.6"" 300e Chromebook Touchscreen LCD 2...","2,037",7896,https://m.media-amazon.com/images/I/812k3mDHXj...
2,"ASUS C424MA-AS48F Chromebook C424, 14.0"" 180 D...",307,16716,https://m.media-amazon.com/images/I/71DL+S6ihB...
3,"HP Victus 15 Gaming Laptop, 15.6"" FHD 144Hz Di...",619,54348,https://m.media-amazon.com/images/I/71juF7A+Ms...
4,"Lenovo Newest Flagship Chromebook, 14'' FHD To...",292,19740,https://m.media-amazon.com/images/I/61KlKRdsQ7...

In [92]:
tablet.head()

,Title,Ratings,Before_Price,After_Price,Image
15,Gateway Newest Touchscreen 11.6 HD 2-in-1 Conv...,"1,200",$213.99,16800,https://m.media-amazon.com/images/I/51LQKOGBqd...
18,"ASUS Chromebook Flip C434 2-In-1 Laptop, 14"" F...","1,790",$504.99,30492,https://m.media-amazon.com/images/I/81C9wMt+Q1...
27,HP EliteBook Revolve 810 G3 11.6 Inch Tablet P...,6,$399.00,25032,https://m.media-amazon.com/images/I/41-6t2zKGe...
40,HP Stream 14-inch Laptop for Student and Busin...,6,$259.99,20076,https://m.media-amazon.com/images/I/7102Zh8BY2...
43,HP Chromebook x360 14c-cc0013dx 14 inch FHD 2 ...,976,$269.90,20916,https://m.media-amazon.com/images/I/71Ghya-X9t...

In [93]:
tablet.drop(columns='Before_Price',inplace=True)

In [94]:
tablet.head()

,Title,Ratings,After_Price,Image
15,Gateway Newest Touchscreen 11.6 HD 2-in-1 Conv...,"1,200",16800,https://m.media-amazon.com/images/I/51LQKOGBqd...
18,"ASUS Chromebook Flip C434 2-In-1 Laptop, 14"" F...","1,790",30492,https://m.media-amazon.com/images/I/81C9wMt+Q1...
27,HP EliteBook Revolve 810 G3 11.6 Inch Tablet P...,6,25032,https://m.media-amazon.com/images/I/41-6t2zKGe...
40,HP Stream 14-inch Laptop for Student and Busin...,6,20076,https://m.media-amazon.com/images/I/7102Zh8BY2...
43,HP Chromebook x360 14c-cc0013dx 14 inch FHD 2 ...,976,20916,https://m.media-amazon.com/images/I/71Ghya-X9t...

In [95]:
laptop.head(1)

,Title,Ratings,After_Price,Image
0,Hp Everyday Essential 17 FHD Laptop • Free Mic...,72,58716,https://m.media-amazon.com/images/I/818CTxQVMH...

In [96]:
tablet.head(1)

,Title,Ratings,After_Price,Image
15,Gateway Newest Touchscreen 11.6 HD 2-in-1 Conv...,"1,200",16800,https://m.media-amazon.com/images/I/51LQKOGBqd...

In [97]:
phone.head(1)

,Title,Ratings,Before_Price,After_Price,Image
0,"realme GT Neo 3 (150W) (Sprint White, 12GB RAM...",551,"₹45,999","24,749",https://m.media-amazon.com/images/I/51P-7qmHo6...

In [98]:
phone['After_Price']=phone['After_Price'].apply(cleaning)

In [99]:
phone['After_Price']=phone['After_Price'].astype(int)

In [100]:
phone.head(1)

,Title,Ratings,Before_Price,After_Price,Image
0,"realme GT Neo 3 (150W) (Sprint White, 12GB RAM...",551,"₹45,999",24749,https://m.media-amazon.com/images/I/51P-7qmHo6...

In [101]:
phone.drop(columns='Before_Price',inplace=True)

In [102]:
phone.head(1)

,Title,Ratings,After_Price,Image
0,"realme GT Neo 3 (150W) (Sprint White, 12GB RAM...",551,24749,https://m.media-amazon.com/images/I/51P-7qmHo6...

In [103]:


df=pd.concat([phone,laptop,tablet],ignore_index=True)

df.to_excel('main.xlsx',index=False)